 
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">         
 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Machine Learning Research</h2>
      <i class="devicon-pytorch-plain-wordmark colored"></i>
      <i class="devicon-tensorflow-original-wordmark colored"></i>
      <i class="devicon-anaconda-original-wordmark colored"></i>
      <i class="devicon-opencv-plain-wordmark colored"></i>
      <i class="devicon-pandas-original-wordmark colored"></i>
      <i class="devicon-numpy-original-wordmark colored"></i>
      <i class="devicon-latex-original colored"></i>

      <p>Pytorch, Tensorflow, Anaconda, OpenCV, Latex, Pandas, Numpy</p>
    </div>

    <div class="tech">
      <h2>Scalable Product Development</h2>
  
      <i class="devicon-cplusplus-plain colored"></i>  
      <i class="devicon-python-plain-wordmark colored"></i>  
      <i class="devicon-rust-plain colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-redis-plain-wordmark colored"></i>
      <i class="devicon-mongodb-plain-wordmark colored"></i>
      <i class="devicon-django-plain-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-fastapi-plain-wordmark colored"></i>
      <i class="devicon-nginx-original-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-solidity-plain colored"></i>
      <i class="devicon-polygon-plain colored"></i>
          

      <p> C++, Python, Rust, Linux, Git, MySQL, Redis, MongoDB, Django, Docker, FastAPI, Nginx, PostGreSQL, Solidity, Polygon </p>

    </div>
</div>
