<div class="user-details">
  <h1> Featured Projects </h1>
</div>



<div class="user-projects">
  <div class="contents-left">
    <h3> Hyperspectral Imaging </h3>
    <p>Hyperspectral imagery is a type of 3D remote sensing data, where there are 2D spatial information and 1D spectral signature. In this project, various novel solutions have been introduced for effective classification of hyperspectral imagery.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>


<div class="user-projects">
  <div class="contents-left">
    <h3> Convex Optimization For Neural Network Training</h3>

    <p> A convex-optimization approach has been introduced considering the angular difference of current gradients <i> y(t) </i> and previous gradients <i> y(t-1) </i> with lagrange multiplier. Superior results have been achieved on multiple benchmark datasets including MNIST, CIFAR10, CIFAR100, and Imagenet 2012. </p>
    <a class="project-link" href="#"> Details </a>
  </div>
</div>

